/* navigation bar */
.navigation
{
    background-color:#334752;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
}

#navigation,.navbar .navbar-default
{
    background-color:#334752;
}

.navbar-default .navbar-nav>li>a.navItem
{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: bold;
    color:white;
}

.navbar-default .navbar-nav>li>a.navItem:hover{
    color:#00ffff;
}


.navbar-default .navbar-brand
{
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.navbar-default .navbar-nav>li>a.navItem.active{
    background-color:#E7E7E7;
}
@media screen and (width: 320px){
   .navbar-default .navbar-nav>li>a.navItem.active{
        background-color:transparent;
    }
}

/*footer */
.footer{
    background-color:#334752;
    /*margin-top:40px;*/
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    
    padding-bottom: 30px;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: bold;
    color:white;

    position: absolute;
    bottom: 0;
    
    
}

.social-icons{
    font-size:24px;
    margin-top: -8px;
    padding-left: 60px;
}


.footer-phone{

    margin-top: -10px;
    padding-right: 15px;
}

/*Search bar*/

#exTab1 .tab-content {
  font-family:Open Sans;
  background-color: #334752;
}
label{
    color: white;
    margin-bottom: 0px;
    padding-top: 10px;
}

#exTab1 .nav-pills > li > a {
  border-radius: 0;
  background-color: #455F6e;
  color:white;
  font-weight: bold;
  font-size: 15px;
  font-family:Open Sans;

}

#exTab1 .nav-pills .active > a {
    background-color: #334752;
}

.btn-info
{
    background-image: linear-gradient(to bottom, #334752 0%, #455F6e 51%, #999999 100%);
    font-weight: bold;
}

/*configure spaces between input for desktop*/
@media (min-width: 990px) {
  .padding-dates{
    padding-right:0.4px;
    padding-left:3px;
  }
  .padding-location{
    padding-right:0.4px;
    padding-left: 1px; 
  }
  .padding-keyword{
    padding-right: 3px;  
  }
  .padding-search{
    padding-top:29px;
  }

}

/*configure search button for mobile*/
@media (max-width: 990px) {
  .mobile-search-button-simple{
    margin-top: 29px;
  } 
  .mobile-search-button-advanced{
    margin-top: 10px;
    width: 100% !important;
  } 
}
